* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 16px 30px;
}

.logo img {
    width: 58px;
    height: 77px;
}

.nav {
    height: 70px;
    display: flex;
    align-items: center;
}

.hamburguer {
    display: block;
    border: none;
    z-index: 1;
    color: #7C3E1B;
    border-top: 3px solid;
    cursor: pointer;
} 

.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: currentColor;
    margin-top: 5px;
    position: relative;

    transition: .3s;
}

.nav.active .hamburguer{
    border-top-color: transparent;
}

.nav.active .hamburguer::before {
    transform: rotate(135deg);
}

.nav.active .hamburguer::after {
    transform: rotate(-135deg);  
    top: -8px;

}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: #E8DFD0;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    overflow-y: auto;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
}

.nav.active .nav-list {
    clip-path: circle(1200px at 90% -15%);
    pointer-events: all;

}

.nav-list {
    list-style: none;
    display: flex;
    padding: 40px;
    gap: 20px;
}

.nav-list li {
    margin-left: 30px;
    letter-spacing: 3px;
}

.nav-list a {
    font-size: 24px;
    color: #7C3E1B;
    padding-block: 16px;
}

.hero {
    height: calc(100vh);
    background: center / cover no-repeat url("./background.png");
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

section img{
    border-radius: 10px;
    width: 300px;
    margin-bottom: 16px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: Montserrat;
    color: #7C3E1B;
}

.about p{
    font-size: 16px;
}

.psycho {
   
    background: #B5814C;
    color: #fff;
}

.card-psycho{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


@media (min-width: 768px) {

    .hamburguer {
        display: none;
        border: none;
        background: none;  
    }

    .nav {
        max-width: 1280px;
        height: 70px;
        margin-inline: auto;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list {
        width: 70%; /* Ou ajuste para a largura desejada */
        clip-path: initial; 
        background: transparent;

        display: flex;
        flex-direction: row;
        
        align-items: flex-start;
        gap: 30px;
        pointer-events: all;
    }
   
}